name: money-tracer

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    container_name: keycloak

    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: dev-mem
      KC_HOSTNAME: localhost
      KEYCLOAK_BASE_URL: "http://localhost/auth" # update
    command:
      - start-dev
      - --verbose
    ports:
    - 8080:8080
    volumes:
      - ./tmp/keycloak-data:/opt/keycloak/data
    restart: unless-stopped
  
  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: example